<%= form_for @person, html: { id: 'form' } do |f| %>
  <%= f.hidden_field :public_id %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>

  <section id="person-information" class="form-section">
    <h3 class="form-title">Person information</h3>

    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="custom-input-group">
          <i class="fa fa-user"></i>

          <div>
            <%= f.label :first_name, class: 'form-control-label' %>
            <a class="bd-popover" tabindex="0" data-toggle="popover" data-container="body" title="Texte d'aide" data-trigger="focus" data-html="true" data-content="A block of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.
            A second <strong>line</strong> of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.">
              <i class="fa fa-info"></i>
            </a>

            <%= f.text_field :first_name, class: 'form-control', placeholder: 'Alexandre, Thierry, ...', required: true,
                'v-model': 'person.firstName', 'v-on:keyup': 'update' %>
          </div>
        </div>

        <small class="text-muted text-help">{{ error.updateContent }}</small>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="custom-input-group">
          <i class="fa fa-user"></i>

          <div>
            <%= f.label :last_name, class: 'form-control-label' %>
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Dupont, Lambert, ...', required: true,
                'v-model': 'person.lastName', 'v-on:keyup': 'update' %>
          </div>
        </div>

        <small class="text-muted text-help">{{ error.updateContent }}</small>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="custom-input-group">
          <i class="fa fa-calendar"></i>

          <div>
            <%= f.label :birth_date, class: 'form-control-label' %>
            <%= f.text_field :birth_date, class: 'form-control', placeholder: '13/09/1956, 20/11/1981',
                'v-model': 'person.birthDate', 'v-on:keyup': 'update' %>
          </div>

          <small class="text-muted text-help">{{ error.updateContent }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="custom-input-group">
          <i class="fa fa-phone"></i>

          <div>
            <%= f.label :phone, class: 'form-control-label' %>
            <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone', required: true,
                'v-model': 'person.phone', 'v-on:keyup': 'update' %>
          </div>

          <small class="text-muted text-help">{{ error.updateContent }}</small>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="custom-input-group">
          <i class="fa fa-at"></i>

          <div>
            <%= f.label :email, class: 'form-control-label' %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email', pattern: '^.+@.+$',
                'v-model': 'person.email', 'v-on:keyup': 'update' %>
          </div>

          <small class="text-muted text-help">{{ error.updateContent }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group row">
          <%= f.label :postal_code, class: 'col-xs-3 form-control-label' %>

          <div class="col-xs-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home"></i></span>
              <%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal code',
                  'v-model': 'person.postalCode', 'v-on:keyup': 'update' %>
            </div>

            <small class="text-muted text-help">{{ error.updateContent }}</small>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="form-group row">
          <%= f.label :city, class: 'col-xs-3 form-control-label' %>

          <div class="col-xs-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home"></i></span>
              <%= f.text_field :city, class: 'form-control', placeholder: 'City',
                  'v-model': 'person.city', 'v-on:keyup': 'update' %>
            </div>

            <small class="text-muted text-help">{{ error.updateContent }}</small>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="form-group row" v-show="person.city" transition="empty-field">
          <%= f.label :thoroughfare, class: 'col-xs-3 form-control-label' %>

          <div class="col-xs-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home"></i></span>
              <%= f.text_field :thoroughfare, class: 'form-control', placeholder: 'Thoroughfare',
                  'v-model': 'person.thoroughfare', 'v-on:keyup': 'update' %>
            </div>

            <small class="text-muted text-help">{{ error.updateContent }}</small>
          </div>
        </div>

        <div class="form-group row" v-else>
          <div class="col-xs-9 col-xs-offset-3 text-center">
            <small class="text-muted">Rue non visible si ville non remplie</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="form-group row">
          <a class="bd-popover" tabindex="0" style="position: absolute; top: 0; left: 0;"
             data-toggle="popover" data-container="body" title="Texte approprié au champ"
             data-trigger="focus" data-placement="top" data-html="true"
             data-content="A block of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.
             A second <strong>line</strong> of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.">
            <i class="fa fa-info"></i>
          </a>

          <%= f.label :gender, class: 'col-xs-3 form-control-label' %>

          <div class="col-xs-9">
            <div class="btn-group" data-toggle="buttons">
              <%= f.collection_radio_buttons :gender, Person.genders.keys, :to_s, :to_s do |b| %>
                <%= bootstrap_collection_radio_buttons(f.object.gender, b) %>
              <% end %>

              <!-- <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" autocomplete="off"><i class="fa fa-mars"></i> Male
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"><i class="fa fa-venus"></i> Femal
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option3" autocomplete="off" checked><i class="fa fa-question"></i> Unknow
              </label> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="form-group row">
    <div class="col-xs-12">
      <%= button_tag type: 'submit', class: 'btn btn-success pull-right' do %>
        <i class="fa fa-check"></i> Valider
      <% end %>
    </div>
  </div>
<% end %>
