<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'partials/sidebar' %>
    </div>

    <div class="col-xs-9">
      <div id="content">
        <div class="row">
          <div class="col-xs-12">
            <%= form_tag '', id: 'form' do %>
              <div class="row">
                <div class="col-xs-12">
                  <section class="form-section">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="form-title">Section 1</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-4">
                        <div class="form-group row">
                          <label for="input-1" class="col-xs-4 form-control-label">Label input 1</label>

                          <div class="col-xs-8">
                            <%= text_field_tag 'input-1', nil, class: 'form-control', placeholder: 'Input 1' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="form-group row">
                          <label for="input-2" class="col-xs-4 form-control-label">Label input 2</label>

                          <div class="col-xs-8">
                            <%= text_field_tag 'input-2', nil, class: 'form-control', placeholder: 'Input 2' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="form-group row">
                          <label for="input-3" class="col-xs-4 form-control-label">Label input 3</label>

                          <div class="col-xs-8">
                            <%= text_field_tag 'input-3', nil, class: 'form-control', placeholder: 'Input 3' %>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-4">
                        <div class="form-group row">
                          <label for="input-4" class="col-xs-4 form-control-label">Label input 4</label>

                          <div class="col-xs-8">
                            <%= text_field_tag 'input-4', nil, class: 'form-control', placeholder: 'Input 4' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="form-group row">
                          <label for="input-5" class="col-xs-4 form-control-label">Label input 5</label>

                          <div class="col-xs-8">
                            <%= text_field_tag 'input-5', nil, class: 'form-control', placeholder: 'Input 5' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-xs-4">
                        <div class="form-group row">
                          <label for="input-6" class="col-xs-4 form-control-label">Label input 6</label>

                          <div class="col-xs-8">
                            <%= text_field_tag 'input-6', nil, class: 'form-control', placeholder: 'Input 6' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="form-section">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-title">Section 2</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <a class="bd-popover" tabindex="0" style="position: absolute; top: 0; left: 0;"
                         data-toggle="popover" data-container="body" title="Texte approprié au champ"
                         data-trigger="focus" data-placement="top" data-html="true"
                         data-content="A block of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.
                         A second <strong>line</strong> of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.">
                        <i class="fa fa-info"></i>
                      </a>

                      <label class="form-control-label">Gender</label>
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option1" autocomplete="off"><i class="fa fa-mars"></i> Male
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option2" autocomplete="off"><i class="fa fa-venus"></i> Femal
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="options" id="option3" autocomplete="off"><i class="fa fa-transgender"></i> Other
                        </label>
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="option3" autocomplete="off" checked><i class="fa fa-question"></i> Unknow
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div class="form-group row">
                <div class="col-xs-12">
                  <%= button_tag type: 'submit', class: 'btn btn-success pull-right' do %>
                    <i class="fa fa-check"></i> Valider
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
