<%= form_for @person, html: { id: 'form' } do |f| %>
  <%= f.hidden_field :public_id %>

  <!-- <div class="row"> -->
    <!-- <div class="col-xs-12"> -->
      <section class="form-section">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-title">Personal information</div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :first_name, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'Input 1', required: true,
                    'v-model': 'person.firstName', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :last_name, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Input 2',
                    'v-model': 'person.lastName', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :birth_date, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :birth_date, class: 'form-control', placeholder: 'Input 3',
                    'v-model': 'person.birthDate', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :phone, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone', required: true,
                    'v-model': 'person.phone', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :email, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email', pattern: '^.+@.+$',
                    'v-model': 'person.email', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :postal_code, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :postal_code, class: 'form-control', placeholder: 'Input 4',
                    'v-model': 'person.postalCode', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <%= f.label :city, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :city, class: 'form-control', placeholder: 'Input 5',
                    'v-model': 'person.city', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="form-group row" v-show="person.city">
              <%= f.label :thoroughfare, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <%= f.text_field :thoroughfare, class: 'form-control', placeholder: 'Input 6',
                    'v-model': 'person.thoroughfare', 'v-on:keyup': 'update' %>
                <small class="text-muted text-help">{{ error.updateContent }}</small>
              </div>
            </div>

            <div class="form-group row" v-else>
              <div class="col-xs-9 col-xs-offset-3 text-center">
                <small class="text-muted">Adresse non visible si ville non remplie</small>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group row">
              <a class="bd-popover" tabindex="0" style="position: absolute; top: 0; left: 0;"
                 data-toggle="popover" data-container="body" title="Texte approprié au champ"
                 data-trigger="focus" data-placement="top" data-html="true"
                 data-content="A block of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.
                 A second <strong>line</strong> of help text that breaks onto a new <strong>line</strong> and may extend beyond one <strong>line</strong>.">
                <i class="fa fa-info"></i>
              </a>

              <%= f.label :gender, class: 'col-xs-3 form-control-label' %>

              <div class="col-xs-9">
                <div class="btn-group" data-toggle="buttons">
                  <%= f.collection_radio_buttons :gender, Person.genders.keys, :to_s, :to_s do |b| %>
                    <%= bootstrap_collection_radio_buttons(f.object.gender, b) %>
                  <% end %>

                  <!-- <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option1" autocomplete="off"><i class="fa fa-mars"></i> Male
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"><i class="fa fa-venus"></i> Femal
                  </label>
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option3" autocomplete="off" checked><i class="fa fa-question"></i> Unknow
                  </label> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="form-group row">
        <div class="col-xs-12">
          <%= button_tag type: 'submit', class: 'btn btn-success pull-right' do %>
            <i class="fa fa-check"></i> Valider
          <% end %>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
<% end %>
